* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}
nav{
  background-color: #1a0c30;

}
.hero-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.navbar {
  height: 80px;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  border-bottom: 1px solid #412567;
}

.hero {
  height: fit-content;
  width: 100%;
}

#tech,
#wave {
  font-size: 45px;
  font-weight: bold;
}

#wave {
  background: var(
    --Linear,
    linear-gradient(
      15deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-items {
  font-size: 15px;
  color: white;
  text-decoration: none;
}

.btn {
  padding: 8px;
  height: 30px  ;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border-radius: 40px;
  width: 120px;

  background: var(
    --Linear,
    linear-gradient(
      15deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
}

.btn img {
  height: 20px;
  width: 20px;
}

.hero-circle {
  position: absolute;
  top: 185px;
  left: 590px;

  height: 340px;
  width: 340px;
  z-index: -1;
}

.microphone{
  position: absolute;
  z-index: 1;
  top: 36%;
  left: 46%;
}


.new{
  width: 70px;
  height: 35px;
  border-radius: 25px;
  background-color: #00ff88;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0px #00ff88,
  0 0 0px #00ff88,
  0 0 20px #00ff88;
  position: absolute;
  top: 29%;
  left: 56%;
  z-index: 2;
  font-weight: 600;
}


.techwave{
  font-size: 65px;
  position: absolute;
  top: 80%;
  left: 40%;
  color: white;
  font-weight: 700;
  text-decoration: bold;
}


.hero-p{
  position: absolute;
  top: 90%;
  left: 33.5%;
  margin-top: 12px;
  font-size: 16px;
  color: white;
  opacity: 70%;
}