* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  /* overflow: hidden; */
}

/* hero section  */
nav {
  background-color: #1a0c30;
  height: fit-content;
}


.blabla{
  padding-bottom: 8 0px;
}
.hero-bg{
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.navbar {
  height: 80px;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  border-bottom: 1px solid #412567;
}

.hero {
  height: fit-content;
  width: 100%;
}

#tech,
#wave {
  font-size: 45px;
  font-weight: bold;
}

#tech:hover, #wave:hover{
  transform: translateY(-2px);
  font-size: 55px;
  transition: .5s;
}

#wave {
  background: var(
    --Linear,
    linear-gradient(
      15deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-items {
  font-size: 15px;
  color: white;
  text-decoration: none;
}

.nav-items:hover,
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #412567;
  font-weight: bold;
  padding: 15px;
  border-radius: 45px;
  box-shadow: white 25px;
  box-shadow:
    0 0 0px #412567,
    0 0 10px #412567,
    0 0 30px #412567;
}

.grid-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #412567;
  box-shadow: white 25px;
  box-shadow:
    0 0 0px #412567,
    0 0 10px #412567,
    0 0 30px #412567;
}

.btn {
  padding: 8px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border-radius: 40px;
  width: 120px;

  background: var(
    --Linear,
    linear-gradient(
      15deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
}

.btn img {
  height: 20px;
  width: 20px;
}

.hero-circle {
  position: absolute;
  top: 185px;
  left: 590px;

  height: 340px;
  width: 340px;
  z-index: -1;
  transition: transform .7s linear;
  transform-origin: center;

}

.hero:hover .hero-circle{
  transform: rotate(360deg);
}


.microphone {
  position: absolute;
  z-index: 1;
  top: 37%;
  left: 46%;
}



.new {
  width: 70px;
  height: 35px;
  border-radius: 25px;
  background-color: #00ff88;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:
    0 0 0px #00ff88,
    0 0 10px #00ff88,
    0 0 30px #00ff88;
  position: absolute;
  top: 30%;
  left: 56%;
  z-index: 2;
  font-weight: 600;
}

.techwave {
  font-size: 65px;
  position: absolute;
  top: 80%;
  left: 40%;
  color: white;
  font-weight: 700;
  text-decoration: bold;
}

.hero-p {
  position: absolute;
  top: 90%;
  left: 33.5%;
  margin-top: 12px;
  font-size: 16px;
  color: white;
  opacity: 70%;
}

.hero-btn {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  top: 97%;
}

.hero-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  height: 50px;
  width: auto;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn-1 {
  color: white;
  background: var(
    --Linear,
    linear-gradient(
      25deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  border: none;
}

.btn-1:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #412567;
  padding: 15px;
  border-radius: 45px;
  box-shadow: white 45px;
  box-shadow:
    0 0 0px #412567,
    0 0 10px #412567,
    0 0 30px #412567;
}

.about-grid>h2:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #412567;
  padding: 15px;
  border-radius: 45px;
  box-shadow: white 45px;
  box-shadow:
    0 0 0px #412567,
    0 0 10px #412567,
    0 0 30px #412567;
}


.episodes:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #412567;
  padding: 15px;
  border-radius: 45px;
  box-shadow: white 45px;
  box-shadow:
    0 0 0px #412567,
    0 0 10px #412567,
    0 0 30px #412567;
}

.host:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #412567;
  box-shadow: white 45px;
  box-shadow:
    0 0 0px #412567,
    0 0 10px #412567,
    0 0 30px #412567;
}
.btn-2 {
  background: transparent;
  border: 1px solid #00ff88;
  color: #00ff88;
}

.btn-2:hover {
  
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  transition: 0.3s;
  color: white;
  background-color: #132a1f;
  padding: 15px;
  border-radius: 45px;
  box-shadow: white 25px;
  box-shadow:
    0 0 0px #00ff88,
    0 0 10px #00ff88,
    0 0 30px #00ff88;
}

.blabla {
  height: 690px;
}

/* hero section responsive */
.hamburger {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.hamburger img.dropdown {
  width: 30px;
  height: 30px;
}

.hamburger .dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #333;
  min-width: 200px;
  border-radius: 5px;
  overflow: hidden;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.hamburger .dropdown-content a.nav-items {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  transition: background 0.2s;
}

.hamburger .dropdown-content a.nav-items:hover {
  background-color: #444;
}

.hamburger .dropdown-content .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #ffcc00;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.hamburger .dropdown-content .btn:hover {
  background-color: #e6b800;
}

.hamburger:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.hamburger {
  display: none;
}

/* hero section responsive */

@media (max-width: 576px) {
  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
  }

  .hamburger > img {
    width: 30px;
    height: 30px;
  }
  .navbar {
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    border-bottom: 2px solid #412567;
  }
  .nav-links,
  .btn {
    display: none;
  }
  

  .hero-circle {
    left: 30.1%;
    top: 36%;
    height: 225px;
    width: 225px;
  }

  .microphone {
    height: 100px;
    width: 70px;
    top: 44.6%;
    left: 44%;
  }

  .new {
    left: 56%;
    top: 36%;
  }

  .techwave {
    left: 23%;
  }

  .hero-p {
    left: 10%;
    width: 85%;
    padding-top: 10px;
    text-align: center;
  }

  .hero-btn {
    top: 102%;
    margin: auto;
    width: 100%;
  }

  .hero-bg{
    height: 700px;
    background-image: url(./assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero-btn>button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    font-size: 22px;
    margin-bottom: 25px;
    padding: 30px;
  }


}

/* about section */

.parent-about {
  height: 730px;
  width: 100%;
  background: #190b2f;
}

.about-section {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.about-section > h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.about-section > p {
  width: 900px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  opacity: 0.6;
  padding: 100px;
  padding-top: 0;
  border-bottom: 1px solid #2b1e3e;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 125px;
  margin-top: 100px;
  place-items: center;
}

.about-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.about-grid > h2 {
  font-size: 50px;
  font-weight: 900;
  color: #00ff88;
}

.rating {
  color: #00ff88;
  font-size: 37px;
}

@media (max-width: 576px) {
  .parent-about {
    background-color: #130429;
    height: fit-content;
  }

  .about-section > h1 {
    font-size: 45px;
  }

  .about-section > p {
    width: 480px;
    padding-bottom: 40px;
  }

  .about-items {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 80px;
  }
}

/* why choose techwave  */

.why-title {
  margin: 80px;
  margin-bottom: 0px;
  text-align: center;
}


.why {
  height: fit-content;
  padding: 150px 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  background-color: #230e3d;
  color: white;
}

.g1 {
  grid-row: span 2;
}
.g2 {
  grid-column: span 2;
}
.g3 {
  grid-column: span 2;
}
.g4 {
  grid-column: span 2;
}

.why > h1 {
  grid-column: span 3;
  font-size: 50px;
}

.grid-item {
  background-color: #2a0f4d;
  padding: 50px;
  border-radius: 45px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: start;
  gap: 20px;
}

.grid-item > h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
}

.grid-item > p {
  font-family: sans-serif;
  opacity: 0.5;
}

.grid-item > img {
  height: 50px;
  width: 50px;
}

/* why section responsive  */

@media (max-width: 576px) {
  .why-title {
    margin: 50px 0 0 0;
    font-size: 10px;
  }

  .why > h1 {
    font-size: 40px;
  }

  .why {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .g1 {
    grid-row: span 1;
  }
  .g2 {
    grid-column: span 1;
  }
  .g3 {
    grid-column: span 1;
  }
  .g4 {
    grid-column: span 1;
  }
}

/* featured episodes  */

.featured-episodes {
  padding: 50px;
  width: auto;
  padding: 160px;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background: #1a0b2e;
  color: white;
}

.featured-episodes > h1 {
  grid-column: span 3;
  text-align: center;
  font-size: 50px;
  padding: 80px;
}

.episodes {
  height: 420px;
  width: 380px;
  border-radius: 30px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  background: #250d44;
  gap: 10px;
}

.episodes > iframe {
  height: 200px;
  width: 380px;
  border-radius: 30px 30px 0px 0px;
}

.episodes > h3,
.episodes > p,
.episodes > button {
  padding: 10px 20px 10px 20px;
  background: transparent;
}

.episodes > h3 {
  font-size: 22px;
  font-weight: 700;
}

.episodes > p {
  opacity: 0.6;
}

.episodes > button {
  border: none;
  width: auto;
  height: auto;
  color: #00ff88;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.episodes > button > img {
  height: 20px;
  width: 20px;
}

.episodes > button > span {
  font-size: 20px;
}

/* featured episodes responsive  */

@media (max-width: 576px) {
  .featured-episodes {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 120px;
  }

  .featured-episodes > h1 {
    grid-column: span 1;
    font-size: 40px;
    padding-bottom: 30px;
  }

  .episodes {
    flex-direction: column;
    width: 520px;
    height: fit-content;
  }

  .episodes > iframe {
    width: 520px;
    height: 290px;
  }

  .episodes > button {
    padding-bottom: 20px;
  }
}

/* meet the host */

.meet-the-host {
  background-color: #1a0b2e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 0 70px 0px;
}
.meet {
  font-size: 45px;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
}

.host {
  background-color: #250e44;
  width: 70%;
  height: fit-content;
  padding: 60px;
  display: flex;
  justify-content: start;
  gap: 30px;
  align-items: start;
  color: white;
  border-radius: 30px;
}

.host-info {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.host-info > h3 {
  font-size: 30px;
  padding: 20px;
}

.host-info > p {
  padding: 0px 0px 20px 20px;
  font-size: 17px;
  opacity: 0.5;
}

.host-info > div {
  padding: 0px 0px 20px 20px;
  display: flex;
  justify-content: start;
  gap: 15px;
  align-items: center;
}

.host-info > div > button {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #473066;
  display: flex;
  justify-content: center;
  align-items: center;
}

.host-info > div > img {
  height: 20px;
  width: 20px;
}

/* meet the host responsive */

@media (max-width: 576px) {
  .host {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 85%;
    padding-top: 20px;
  }

  .host-info {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .host-info > h3 {
    font-size: 50px;
  }

  .host-info > img {
    height: 400px;
    width: 400px;
    padding-top: 30px;
  }

  .host-info > h3,
  .host-info > p,
  .host-info > div {
    padding: 10px;
  }
}

/* footer   */

footer {
  height: 420px;
  width: auto;
  background-image: url(./assets/footer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.footer-logo {
  font-size: 90px;
  color: white;
}

.wave {
  background: var(
    --Linear,
    linear-gradient(
      15deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 90px;
}

.footer-icons {
  height: fit-content;
  width: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
}
.pod-icons {
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}

footer p {
  font-size: 16px;
  color: white;
  opacity: 0.6;
}

/* footer responsive  */

@media (max-width: 576px) {
  .footer-icons {
    grid-template-columns: repeat(2, max-content);
    place-items: center;
    padding-bottom: 15px;
    gap: 0;
  }

  footer {
    height: 250px;
    background-image: url(./assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    gap: 5px;
  }

  .footer-logo,
  .wave {
    font-size: 60px;
  }


  .pod-icons>p{
    font-size: 14px;
  }
  footer p{
    font-size: 18px;  
  }
  
}
