* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

/* hero section  */
nav {
  background-color: #1a0c30;
}
.hero-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.navbar {
  height: 80px;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  border-bottom: 1px solid #412567;
}

.hero {
  height: fit-content;
  width: 100%;
}

#tech,
#wave {
  font-size: 45px;
  font-weight: bold;
}

#wave {
  background: var(
    --Linear,
    linear-gradient(
      15deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-items {
  font-size: 15px;
  color: white;
  text-decoration: none;
}

.btn {
  padding: 8px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border-radius: 40px;
  width: 120px;

  background: var(
    --Linear,
    linear-gradient(
      15deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
}

.btn img {
  height: 20px;
  width: 20px;
}

.hero-circle {
  position: absolute;
  top: 185px;
  left: 590px;

  height: 340px;
  width: 340px;
  z-index: -1;
}

.microphone {
  position: absolute;
  z-index: 1;
  top: 36%;
  left: 46%;
}

.new {
  width: 70px;
  height: 35px;
  border-radius: 25px;
  background-color: #00ff88;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:
    0 0 0px #00ff88,
    0 0 0px #00ff88,
    0 0 20px #00ff88;
  position: absolute;
  top: 29%;
  left: 56%;
  z-index: 2;
  font-weight: 600;
}

.techwave {
  font-size: 65px;
  position: absolute;
  top: 80%;
  left: 40%;
  color: white;
  font-weight: 700;
  text-decoration: bold;
}

.hero-p {
  position: absolute;
  top: 90%;
  left: 33.5%;
  margin-top: 12px;
  font-size: 16px;
  color: white;
  opacity: 70%;
}

.hero-btn {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  top: 97%;
}

.hero-btn button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  height: 50px;
  width: auto;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.btn-1{
  color: white;
  background: var(
    --Linear,
    linear-gradient(
      25deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  border: none;
}


.btn-2{
  background: transparent;
  border: 1px solid #00ff88;
  color: #00ff88;
}


.blabla{
    height: 730px;
}




/* hero section responsive */

.hamburger{
  display: none;
}


@media(max-width:576px) {
  .hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
  }

  .hamburger> img{
    width: 30px;
    height: 30px;
  }
  .navbar{
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    border-bottom: 2px solid #412567;
  }
  .nav-links, .btn{
    display: none;
  }

  .hero-circle{
    left: 30.1%;
    top: 33%;
    height: 225px;
    width: 225px;
  }

  .microphone{
    height: 100px;
    width: 70px;
    top: 42.6%;
    left: 43.6%;
  }

  .new{
      left: 56%;
      top: 33%;
  }

  .techwave{
    left: 23%;
  }

  .hero-p{
    left: 10%;
    width: 85%;
    padding-top: 10px;
    text-align: center;
  }

  .hero-btn{
    top: 102%;
  }

  .blabla{
    height: 1000px;
    width: 100%;
    border: 2px solid white;
  }

}


/* about section */

.parent-about{
  height: 730px;
  width: 100%;
  background: #190b2f;
}

.about-section{
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-section>h1{
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 50px;font-family: Arial, Helvetica, sans-serif;
}

.about-section>p{
  width: 900px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  opacity: .6;
  padding: 100px;
  padding-top: 0;
  border-bottom: 1px solid #2b1e3e;

}

.rating{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-items{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 125px;
  margin: 100px;
  place-items: center;

}

.about-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.about-grid>h2{
  font-size: 50px;
  font-weight: 900;
  color: #00ff88;
}

.rating{
  color: #00ff88;
  font-size: 37px;
}

